<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.lutshe.wallpaper.live.halflife"
        android:versionCode="1"
        android:versionName="1.0"
        android:installLocation="auto">
    <application
            android:icon="@drawable/hl"
            android:label="@string/app_name">
        <service
                android:name="com.lutshe.wallpaper.live.halflife.LiveWallpaperService"
                android:enabled="true"
                android:icon="@drawable/hl"
                android:label="@string/app_name"
                android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter android:priority="1">
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                    android:name="android.service.wallpaper"
                    android:resource="@xml/mywallpaper"/>
        </service>
        <activity
                android:label="@string/app_name"
                android:name=".Settings"
                android:theme="@android:style/Theme.Light.WallpaperSettings"
                android:exported="true"
                android:configChanges="orientation"/>
    </application>
    <uses-sdk android:minSdkVersion="8"/>
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
</manifest> 